.container-fluid {
  background-color: yellow;
  padding: 30px;
  border: 3px solid black;
}

.header {
  background-color: blue;
  padding: 15px;
  border: 3px solid black;
  height: 200px;
  padding: 30px;
}

.nav {
  background-color: green;
  padding: 15px;
  border: 3px solid black;
  height: 100px;
  padding: 30px;
}

.content {
  background-color: red;
  padding: 30px;
  border: 3px solid black;
  height: 300px;
}

.aside {
  background-color: aqua;
  padding: 30px;
  border: 3px solid black;
  height: 300px;
}

.promo {
  background-color: orange;
  padding: 30px;
  border: 3px solid black;
  height: 300px;
}

footer {
  background-color: black;
  padding: 30px;
  height: 100px;
  color: white;
}
